<div class="description">
    <strong>{{ 'Important!'|t }}</strong> {{ "When adding, removing, or renaming template files, it is necessary to make Drupal aware of the changes by making it rescan the files on your system. By clicking this button you clear Drupal's theme registry and thereby trigger this rescanning process. The highlighted templates above will then reflect the new state of your system."|t }}
</div>
